* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
    display: grid;
  min-width: 850px;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #fff;
  min-width: 850px;
  min-height: 100vh;
  margin: 0;
}
.header {
    height: 100vh;
    background-position: center;
    background-size: cover;
}